# macOS
.DS_Store

# Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

# Build / packaging artifacts
build/
dist/
*.egg-info/
.ipynb_checkpoints/

# Local project notes and drafts
local/

# NPZ file
*.npz 

# Editor / IDE settings
.vscode/

# Generated notebook outputs
figures/
